tests/files/ClinVarFullRelease_5MB_Rand_00-latest.vcf.gz filter=lfs diff=lfs merge=lfs -text
tests/files/ClinVarRCVRelease_5MB_Rand_00-latest.vcf filter=lfs diff=lfs merge=lfs -text
tests/files/ClinVarRCVRelease_5MB_Rand_00-latest.xml filter=lfs diff=lfs merge=lfs -text
